<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recent Obituaries & Commemorations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <p class="ion-text-center" *ngIf="!isLoading && recentObits.length <= 0">
    No obituaries found
  </p>

  <ion-list *ngIf="!isLoading && recentObits.length > 0">
    <ion-item *ngFor="let recentObit of recentObits" routerLink="/obituary-detail/{{ recentObit.object.obituaryId }}">
      <ion-avatar slot="start">
        <img [src]="recentObit.object.photo" />
      </ion-avatar>
      <ion-label>{{ recentObit.object.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>