ion-avatar {
    width: 80px;  
    height: 80px;  
}

h2 {
    font-weight: 600;
    color: #6b6b6b;
    line-height: 25px;
}

.death-date {
    color: #8f8f8f;

    span {
        color: black;
    }
}

.funeral-place {
 white-space: initial;
 font-size: 13px;
}

p {
    font-size: 15px;
    color: #525252;
  }