<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Memorials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="individuals" (ionChange)="segmentChanged($event)" >
    <ion-segment-button value="individuals">
      Individuals
    </ion-segment-button>
    <ion-segment-button value="families">
      Families
    </ion-segment-button>
    <ion-segment-button value="groups">
      Groups
    </ion-segment-button>
  </ion-segment>
</ion-content>
