<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ingredients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isLoading">
    <ion-item detail *ngFor="let i of Arr(num).fill(1)">
      <ion-label
        ><ion-skeleton-text animated style="width: 75%;"></ion-skeleton-text
      ></ion-label>
    </ion-item>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <ion-item
      detail
      *ngFor="let ingredient of ingredients"
      routerLink="/ingredient/{{ ingredient.strIngredient | slugify }}"
    >
      <ion-label>{{ ingredient.strIngredient }}</ion-label>
    </ion-item>
  </ng-container>
</ion-content>
