<ion-header>
  <ion-toolbar>
    <ion-title>{{ sourceName }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sources"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="isLoading">
      <ion-col size="12" *ngFor="let article of fakeSources">
        <ion-card>
          <ion-skeleton-text
            animated
            style="height: 195px;"
            class="ion-no-padding"
          ></ion-skeleton-text>

          <ion-item>
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          </ion-item>

          <ion-card-header>
            <ion-card-title
              ><ion-skeleton-text animated></ion-skeleton-text
            ></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-articles [news]="news"></app-articles>
</ion-content>
