<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Filter sources" [(ngModel)]="term"  [debounce]="500" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row *ngIf="sources">
      <ion-col size="12" *ngFor="let source of sources | search: term">
        <ion-list>
          <ion-item detail color="light">
            <ion-label class="ion-text-wrap"
              >{{ source.name }}
              <ion-badge color="primary">{{ source.category }}</ion-badge>

              <p>{{ source.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
