<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recent-obits"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p>
          Khoolood is a platform to put together departed persons that have made
          a difference in their community all over the world. It is here that
          you can create an everlasting tribute, a memory, of someone special
          you have loved and lost. Our website is not about death; it’s about
          life, the life of people who were very special to their families and
          to their small community. It’s about appreciating the beautiful gift
          of being alive and taking the time to remember those who are no longer
          with us, and those that are still alive in our memories.
        </p>

        <p>
          Khoolood was created to be the online source of obituary news, by
          taking advantage of a wide range of advanced technologies to better
          serve communities worldwide. It is well known that community’s still
          has in its mores and habits the duty and obligation to calm the grief
          of family and friends who lost their loved ones. Every person in life
          is always related to Communities (Family, Neighborhood, Village, House
          of Prayers, and Professional Associations…). For this purpose we have
          created tools of communications with these Communities that helps
          every person to search and join communities of interest with simple
          steps.
        </p>
        <p>
          Khoolood provides a communication platform for readers to express
          condolences and share remembrances of loved ones.
        </p>
        <p>
          We hope our website will help you share your memories, and help you
          sooth your grief by bringing a positive perspective to your memories.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
