<ion-tabs #mainTabs (ionTabsDidChange)="getSelectedTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon *ngIf="selectedTab !== 'home'" name="home-outline"></ion-icon>
      <ion-icon *ngIf="selectedTab === 'home'" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="communities">
      <ion-icon
        *ngIf="selectedTab !== 'communities'"
        name="people-outline"
      ></ion-icon>
      <ion-icon *ngIf="selectedTab === 'communities'" name="people"></ion-icon>
      <ion-label>Communities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="memorials">
      <ion-icon
        *ngIf="selectedTab !== 'memorials'"
        name="book-outline"
      ></ion-icon>
      <ion-icon *ngIf="selectedTab === 'memorials'" name="book"></ion-icon>
      <ion-label>Memorials</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon *ngIf="selectedTab !== 'saved'" name="star-outline"></ion-icon>
      <ion-icon *ngIf="selectedTab === 'saved'" name="star"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
