<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Favorite meals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" *ngIf="meals.length <= 0">
    <ion-title>No favorites</ion-title>
    <ion-icon name="heart-dislike-outline"></ion-icon>
  </div>

  <ion-refresher
    *ngIf="meals.length > 0"
    slot="fixed"
    (ionRefresh)="onRefresh($event)"
    pullFactor="0.8"
    pullMin="60"
    pullMax="120"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding" *ngIf="meals.length > 0">
    <ion-row>
      <ion-col>
        <ion-card
          *ngFor="let meal of meals"
          button
          [routerLink]="['/meal', meal.idMeal]"
        >
          <img [src]="meal.strMealThumb" [alt]="meal.strMeal" />
          <ion-card-header>
            <ion-card-title>{{ meal.strMeal }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
