<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-font">Stockcheck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-list-item [inventories]="inventories$ | async" (goToInventory)="goToInventory($event)"></app-list-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openBarcodeScanner()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
