/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* fonts */
@import "theme/fonts";

.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger);
}

ion-skeleton-text {
  --background-rgb: var(--ion-color-primary-rgb);
}

ion-tab-bar ion-tab-button {
  background: var(--ion-identity-color);
  color: var(--ion-color-primary-contrast);
}

.obituaries-list {
  ion-avatar {
    width: 80px;
    height: 80px;
  }

  h2 {
    //white-space: normal;
    font-weight: 600;
    color: #6b6b6b;
    line-height: 25px;
  }

  .death-date {
    color: #8f8f8f;

    span {
      color: black;
    }
  }

  .funeral-place {
    //white-space: normal;
    font-size: 13px;
  }

  p {
    font-size: 15px;
    color: #525252;
  }
}

.list-loaders {
  ion-avatar {
    width: 80px;
    height: 80px;
  }
}
