<ion-card>
  <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage"></ion-img>

  <ion-item>
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
    <ion-label>{{ article.publishedAt | date: "medium" }}</ion-label>
  </ion-item>

  <ion-card-header>
    <ion-card-title>{{ article.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ article.description }}
  </ion-card-content>

  <ion-item class="ion-text-center">
    <ion-label
      ><i>{{ article.source.name }}</i></ion-label
    >
  </ion-item>
</ion-card>
