<ng-container *ngIf="meal$ | async as meal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ meal.strMeal }}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="shareMeal(meal)">
          <ion-icon color="light" slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!isFavorite" (click)="addToFavorites(meal)">
          <ion-icon color="danger" slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="isFavorite" (click)="removeFromFavorites(meal)">
          <ion-icon color="danger" slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <img [src]="meal.strMealThumb" [alt]="meal.strMeal" />

    <ion-item lines="none" routerLink="/category/{{ meal.strCategory }}">
      <h1>
        {{ meal.strMeal }}
      </h1>
      <ion-badge color="secondary" slot="end">{{ meal.strCategory }}</ion-badge>
    </ion-item>

    <ion-list>
      <ion-list-header>
        <ion-label class="title">Ingredients</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let ingredient of ingredients">
        <ion-thumbnail slot="start">
          <img src="https://www.themealdb.com/images/ingredients/{{ ingredient[0] | titlecase }}-small.png" [alt]="ingredient[0] | titlecase" />
        </ion-thumbnail>
        <ion-label routerLink="/ingredient/{{ ingredient[0] | slugify }}">{{ ingredient[0] | titlecase }}</ion-label>
        <ion-note color="dark" class="ion-padding-vertical">{{ ingredient[1] }}</ion-note>
      </ion-item>
    </ion-list>

    <iframe class="ion-padding-vertical"
      id="ytplayer"
      type="text/html"
      width="100%"
      height="360"
      [src]="getYoutubeLink(meal)"
      frameborder="0"
    ></iframe>

    <ion-list>
      <ion-list-header>
        <ion-label class="title">Instructions</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let instruction of instructions" lines="none">
        <ion-label class="ion-text-wrap">{{ instruction }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-container>
