<div class="picker">
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  <ion-img
    class="location-image"
    role="button"
    (click)="onPickLocation()"
    [src]="selectedLocationImage"
    *ngIf="selectedLocationImage && !isLoading && showPreview"
  ></ion-img>
  <ion-button
    (click)="onPickLocation()"
    color="primary"
    *ngIf="(!selectedLocationImage && !isLoading) || !showPreview"
  >
    <ion-icon slot="start" name="map"></ion-icon>
    <ion-label>Select location</ion-label>
  </ion-button>
</div>
