<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="searchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="obituaries" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="updates">
      Updates
    </ion-segment-button>
    <ion-segment-button value="obituaries">
      Obituaries
    </ion-segment-button>
    <ion-segment-button value="commemorations">
      Commemorations
    </ion-segment-button>
  </ion-segment>

  <app-obituaries *ngIf="showPage === 'obituaries'"></app-obituaries>
  <app-updates *ngIf="showPage === 'updates'"></app-updates>
  <app-commemorations *ngIf="showPage === 'commemorations'"></app-commemorations>

</ion-content>
