<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar class="profile-pic">
    <ion-img src="https://media-exp1.licdn.com/dms/image/C4E03AQFtNovv8d17vw/profile-displayphoto-shrink_200_200/0?e=1592438400&v=beta&t=lPPzs-CejD8V_HLcQRwrIMPF1R1oW_zBobr-WP1ludk"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fadi Barakat</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    </ion-card-content>
  </ion-card>
</ion-content>
