<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar class="profile-pic" (click)="selectImageSource()">
    <ion-img [src]="(myStoreProfileImage | async)?.image_src"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fadi Barakat</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    </ion-card-content>
  </ion-card>
</ion-content>
