<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *mobxAutorun>
    <ion-item
      [color]="note.archived ? 'danger' : ''"
      *ngFor="let note of store.notes"
    >
      <ion-label>
        {{ note.title }}
      </ion-label>
      <ion-button (click)="archiveNote(note)" slot="end">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Archived noted: {{ store.archivedNotesCount }}</ion-label>
    </ion-item>
    <ion-button (click)="createNote()" expand="block">
      Create note
    </ion-button>
  </ion-list>
</ion-content>
