<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="searchPage()">
        <ion-icon slot="icon-only" color="light" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      What to Eat Today?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-big-loader [isLoading]="isLoading"></app-big-loader>

  <ion-grid class="ion-no-padding" *ngIf="meals$ | async as meals">
    <ion-row>
      <ion-col>
        <ion-card
          *ngFor="let meal of meals"
          button
          [routerLink]="['/meal', meal.idMeal]"
        >
          <img [src]="meal.strMealThumb" [alt]="meal.strMeal" />
          <ion-card-header>
            <ion-card-title>{{ meal.strMeal }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingText="Loading more deliciousness">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
