<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Communities ({{ loadedCommunities?.length }})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center" *ngIf="!isLoading && loadedCommunities.length <= 0">
    No communities found
  </p>

  <ion-list *ngIf="isLoading" class="ion-no-padding"> 
    <ion-item *ngFor="let i of Arr(num).fill(1)" class="list-loaders">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2><ion-skeleton-text animated style="height: 20px; width: 70%"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list
    *ngIf="!isLoading && loadedCommunities.length > 0"
    class="ion-no-padding"
  >
    <ion-item
      *ngFor="let community of loadedCommunities"
      routerLink="/community-detail/{{ community.id }}"
      class="obituaries-list"
    >
      <ion-avatar slot="start">
        <img [src]="community.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ community.name_en }}</h2>
        <p>
          {{ community.place }} - {{ community.membersCount }} members
        </p>
      </ion-label>
      <ion-note slot="end" color="success" class="ion-no-margin">
        <ion-icon name="checkmark-outline"></ion-icon>
        Joined</ion-note
      >
    </ion-item>
  </ion-list>
</ion-content>
