<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshChars($event)">
    <ion-refresher-content pullingText="Pull for chars" refreshingText="Loading more chars"></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let char of charList">
      <ion-label>{{ char }}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
